USING DATA ANALYSIS TO GENERATE INSIGHTS FOR MICROSOFT

1. Business Understanding 

Business Problem
The company Microsoft is in a pivotal season of their business where they would want to venture into creating original video content and they want exploratory data analysis done regarding content creation using the data sets provided. The company Microsoft has decided to create a movie studio for the same and want to develop a deeper understanding on creating movies through the guidance of the EDA. My task is to investigate which types of films are doing best at the box office and then translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create. You are provided data about movie history ie the ratings, writers, directors, movie basics and what the movies are known for. 

Problem Statement 
You are tasked with exploring what type of films are currently doing the best at the box office and translating those findings into actionable insights that Microsoft can use to decide what type of films to create. 

Defining the Metric for Success
a) Data manipulation: It allows data scientists to preprocess, organize, and transform raw data into a more useful and structured format for analysis. It helps in extracting meaningful insights, identifying patterns, and preparing the data for further modeling, visualization, or statistical analysis.
b) Evolving business needs: As a data science project progresses, stakeholders may gain new insights or change their priorities, leading to alterations in the project's scope. For example, they might request additional analyses or require different metrics to be measured.
c)Analyze financial feasibility: Evaluate the financial viability of entering the movie space. Assess the potential return on investment (ROI) based on factors such as production costs, revenue streams and potential risks.

Understanding the Context 
This step is the process of understanding how data science affects the business of making original video content to gain as much information as possible for better business.

Data Relevance 
The relevance of data depends on the credibility and trustworthiness of the data source. Data from reputable and reliable sources are generally considered more relevant and trustworthy. By ensuring data relevance, data scientists can improve the accuracy and applicability of their analysis, leading to more reliable insights and informed decision-making.

2. Data Understanding 
is a critical step in the data science workflow that enables researchers and analysts to gain insights into the data, identify potential issues, and make informed decisions on data preprocessing.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df_gross = pd.read_csv('Data\movies_gross.csv')
df_budgets = pd.read_csv('Data\movie_budgets.csv')

In [7]:
#investigate the data shape

df_gross.shape

(3387, 5)

In [8]:
#investigate the data shape
df_budgets.shape

(5782, 6)

In [9]:
#investigate the data types 
df_budgets.dtypes

id                    int64
release_date         object
movie                object
production_budget    object
domestic_gross       object
worldwide_gross      object
dtype: object

In [10]:
df_gross.dtypes

title              object
studio             object
domestic_gross    float64
foreign_gross      object
year                int64
dtype: object

In [11]:
df_gross.info

<bound method DataFrame.info of                                             title      studio  domestic_gross
0                                     Toy Story 3          BV     415000000.0  \
1                      Alice in Wonderland (2010)          BV     334200000.0
2     Harry Potter and the Deathly Hallows Part 1          WB     296000000.0
3                                       Inception          WB     292600000.0
4                             Shrek Forever After        P/DW     238700000.0
...                                           ...         ...             ...
3382                                    The Quake       Magn.          6200.0
3383                  Edward II (2018 re-release)          FM          4800.0
3384                                     El Pacto        Sony          2500.0
3385                                     The Swan  Synergetic          2400.0
3386                            An Actor Prepares       Grav.          1700.0

     foreign_gross  year
0        652000000  2010
1        691300000  2010
2        664300000  2010
3        535700000  2010
4        513900000  2010
...            ...   ...
3382           NaN  2018
3383           NaN  2018
3384           NaN  2018
3385           NaN  2018
3386           NaN  2018

[3387 rows x 5 columns]>

In [12]:
df_gross.describe

<bound method NDFrame.describe of                                             title      studio  domestic_gross
0                                     Toy Story 3          BV     415000000.0  \
1                      Alice in Wonderland (2010)          BV     334200000.0
2     Harry Potter and the Deathly Hallows Part 1          WB     296000000.0
3                                       Inception          WB     292600000.0
4                             Shrek Forever After        P/DW     238700000.0
...                                           ...         ...             ...
3382                                    The Quake       Magn.          6200.0
3383                  Edward II (2018 re-release)          FM          4800.0
3384                                     El Pacto        Sony          2500.0
3385                                     The Swan  Synergetic          2400.0
3386                            An Actor Prepares       Grav.          1700.0

     foreign_gross  year
0        652000000  2010
1        691300000  2010
2        664300000  2010
3        535700000  2010
4        513900000  2010
...            ...   ...
3382           NaN  2018
3383           NaN  2018
3384           NaN  2018
3385           NaN  2018
3386           NaN  2018

[3387 rows x 5 columns]>

Data Preparation 
also known as data preprocessing, is a crucial step in data science and involves transforming raw data into a clean, organized, and structured format suitable for analysis. It encompasses a series of operations and techniques applied to the data to address issues such as missing values, outliers, inconsistencies and formatting discrepancies.